:root {
  --color-active: hsl(220, 98%, 61%);
  --check-linear-gradient: linear-gradient(
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  --color-light-list: hsl(0, 0%, 98%);
  --color-light-background: hsl(236, 33%, 92%);
  --color-light-details: hsl(233, 11%, 84%);
  --color-light-dark-text: hsl(236, 9%, 61%);
  --color-light-darkest-text: hsl(235, 19%, 35%);

  --color-dark-background: hsl(235, 21%, 11%);
  --color-dark-list: hsl(235, 24%, 19%);
  --color-dark-text: hsl(234, 39%, 85%);
  --color-dark-text-hover: hsl(236, 33%, 92%);
  --color-dark-darker-text: hsl(234, 11%, 52%);
  --color-dark-darkest-text: hsl(233, 14%, 35%);
  --color-dark-darkest: hsl(237, 14%, 26%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: var(--color-light-darkest-text);
}

body {
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 400;
  background: var(--color-light-background);
  /* background-image: url(../images/bg-mobile-light.jpg); */
  background-repeat: no-repeat;
}

.dark-mode {
  background: var(--color-dark-background);
  /* background-image: url(../images/bg-mobile-dark.jpg); */
  background-repeat: no-repeat;
}

h1 {
  color: var(--color-light-list);
}

/* @media screen and (min-width: 375px) {
  body {
    background-image: url(../images/bg-desktop-light.jpg);
  }

  .dark-mode {
    background-image: url(../images/bg-desktop-dark.jpg);
  }
} */

/* Container */
.container {
  margin: 0 4rem;
  max-width: 60rem;
}

@media screen and (min-width: 650px) {
  .container {
    margin: auto;
  }
}

/* Checkbox */
.checkbox {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.checkbox--checked {
  background: var(--check-linear-gradient);
}

.checkbox--checked img {
  padding: 1rem;
}

.checkbox--unchecked {
  border: 1px solid var(--color-light-details);
}

.checkbox--unchecked img {
  display: none;
}

.checkbox--unchecked:hover {
  background: linear-gradient(
      var(--color-light-background),
      var(--color-light-background)
    ),
    radial-gradient(circle at top left, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.dark-mode .checkbox--unchecked:hover {
  border: double 1px transparent;
  background: linear-gradient(
      var(--color-dark-background),
      var(--color-dark-background)
    ),
    radial-gradient(circle at top left, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-origin: border-box;
  background-clip: content-box, border-box;
}

/* Checklist Items */
.checklist {
  padding: 0;
  border-radius: 0.5rem;
  background-color: var(--color-light-list);
}

.dark-mode .checklist {
  background-color: var(--color-dark-list);
}

.checklist__item {
  list-style: none;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-light-details);
}

.dark-mode .checklist__item {
  color: var(--color-dark-text);
  border-bottom: 1px solid var(--color-dark-darkest);
}

.checklist__item:last-of-type {
  border-bottom: 0;
}

.checked {
  text-decoration: line-through;
  color: var(--color-light-details);
}

.dark-mode .checked {
  color: var(--color-light-darkest-text);
}

/* Dark Mode Toggle Button */
.btn-toggle {
  background: none;
  border: none;
  outline: none;
}

/* Input field */
.input__container {
  width: 100%;
  background-color: var(--color-light-list);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.dark-mode .input__container {
  background-color: var(--color-dark-list);
}

#new-todo {
  background-color: transparent;
  outline: none;
  border: none;
  height: 100%;
}

.input__checkbox {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--color-light-details);
}

/* Todo list data */
.todo-data {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 1.6rem;
  padding: 2rem;
  margin: 0 auto;
  color: var(--color-light-dark-text);
}

.items-left {
  display: flex;
}

.items-left__number {
  padding-right: 1rem;
}

.toggle-states {
  display: none;
}

.toggle-states__state:hover,
.clear-completed:hover {
  color: var(--color-light-darkest-text);
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .toggle-states {
    list-style: none;
    padding-left: 0;
    display: flex;
  }

  .toggle-states__state {
    padding: 0 1rem;
  }
}

/* Hero */
.hero {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}
