:root {
  --color-active: hsl(220, 98%, 61%);
  --check-linear-gradient: linear-gradient(
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

.light-mode {
  --color-list: hsl(0, 0%, 98%);
  --color-background: hsl(236, 33%, 92%);
  --color-details: hsl(233, 11%, 84%);
  --color-text: hsl(235, 19%, 35%);
  --color-muted-text: hsl(236, 9%, 61%);
}

.dark-mode {
  --color-list: hsl(235, 24%, 19%);
  --color-background: hsl(235, 21%, 11%);
  --color-details: hsl(233, 14%, 35%);
  --color-text: hsl(234, 39%, 85%);
  --color-text-hover: hsl(236, 33%, 92%);
  --color-muted-text: hsl(234, 11%, 52%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: var(--color-light-darkest-text);
  background: var(--color-background);
  background-repeat: no-repeat;
}

body {
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 400;
}

h1 {
  color: hsl(0, 0%, 98%);
  letter-spacing: 1rem;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus {
  border: none;
  outline: none;
}

/* Background Image */
.light-mode {
  background-image: url(../images/bg-mobile-light.jpg);
}

.dark-mode {
  background-image: url(../images/bg-mobile-dark.jpg);
}

@media screen and (min-width: 375px) {
  .light-mode {
    background-image: url(../images/bg-desktop-light.jpg);
  }

  .dark-mode {
    background-image: url(../images/bg-desktop-dark.jpg);
  }
}

/* Container */
.container {
  margin: 0 4rem;
  max-width: 60rem;
}

@media screen and (min-width: 650px) {
  .container {
    margin: auto;
  }
}

/* Checkbox */
.checkbox {
  border-radius: 50%;
  min-width: 2rem;
  min-height: 2rem;
  margin-right: 2rem;
  border: 1px solid var(--color-details);
}

.checkbox:hover {
  cursor: pointer;
}

.checkbox img {
  display: none;
  pointer-events: none;
}

.checked {
  background: var(--check-linear-gradient);
  border: none;
}

.checked img {
  display: inline-block;
  padding: 0 0.5rem;
}

.checklist__item:hover .unchecked {
  border: double 1px transparent;
  background: linear-gradient(var(--color-list), var(--color-list)),
    radial-gradient(circle at top left, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-origin: border-box;
  background-clip: content-box, border-box;
}

/* Checklist Items*/
.checklist {
  padding: 0;
  margin-bottom: 0;
}

.dark-mode .checklist {
  background-color: var(--color-list);
}

.checklist__item,
.no-todos-message {
  list-style: none;
  padding: 2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-details);
  background-color: var(--color-list);
  color: var(--color-text);
}

.checklist__item:first-of-type {
  border-radius: 0.5rem 0.5rem 0 0;
}

.checklist__item p {
  margin: 0;
}

.completed {
  text-decoration: line-through;
  color: var(--color-details);
}

.checklist__item--delete {
  content: url(../images/icon-cross.svg);
  margin-left: auto;
  height: 2rem;
}

.checklist__item--delete:hover {
  opacity: 0.7;
  cursor: pointer;
}

.checklist:hover > .checklist__item--delete:not(:hover) {
  display: none;
}

/* Dark Mode Toggle Button */
.btn-toggle {
  background: none;
  border: none;
  outline: none;
}

.btn-toggle:hover {
  cursor: pointer;
}

/* Input field */
.input__container {
  width: 100%;
  background-color: var(--color-list);
  border-radius: 0.5rem;
  padding: 2rem;
}

#new-todo {
  background-color: transparent;
  outline: none;
  border: none;
  height: 100%;
  width: 80%;
}

.input__submit {
  background-color: var(--color-list);
  outline: none;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--color-details);
}

input,
input::placeholder {
  color: var(--color-text);
}

/* Todo list data */
.todo-data {
  display: flex;
  max-width: 600px;
  justify-content: space-between;
  font-size: 1.6rem;
  padding: 0 2rem;
  color: var(--color-muted-text);
  background-color: var(--color-list);
  border-radius: 0 0 0.5rem 0.5rem;
  margin-bottom: 2rem;
}

.items-left {
  display: flex;
}

.items-left__number {
  padding-right: 0.5rem;
}

.toggle-states {
  display: none;
}

.toggle-states--mobile {
  display: flex;
  list-style: none;
  margin: auto;
  background-color: var(--color-list);
  justify-content: space-evenly;
  font-size: 2rem;
  color: var(--color-muted-text);
  padding: 1.6rem;
  border-radius: 0.5rem;
}

.clear-completed {
  text-align: right;
}

.toggle-states__state:hover,
.clear-completed:hover {
  color: var(--color-text);
  cursor: pointer;
}

.active {
  color: var(--color-active);
}

@media screen and (min-width: 600px) {
  .toggle-states {
    list-style: none;
    padding-left: 0;
    margin: auto;
    display: flex;
  }

  .toggle-states__state {
    padding: 0 1rem;
  }

  .toggle-states--mobile {
    display: none;
  }
}

/* Hero */
.hero {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}

/* Drag and Drop */
.ghost-class {
  background-color: var(--color-muted-text);
  opacity: 50%;
}
